.page {
    max-width: 1280px;
    height: 6823px;
    margin: 0 auto 0;
    overflow: hidden;
    padding-top: 28px;
    padding-bottom: 24px;
    background: #2A2C2F;
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
        height: 6843px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
        height: 6803px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
        height: 9943px;
        padding-top: 16px;
    }
}