.places {
    margin: 92px auto 0;
    max-width: 984px;
    min-height: 2702px;
    /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 916px) {
    .places {
        align-self: center;
        max-width: calc(100% - 48px);
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 100%;
        margin: 64px auto 0;
    }
}