.lead {
    margin: auto;
    width: calc(100% - 296px);
    min-height: 406px;
    /*border:1px solid rgb(249, 0, 0);*/
}

@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 100%;
    }
}