.footer__link {
    width: 106px;
    height: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 96px);
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 32px);
        height: 42px;
        margin-bottom: 48px;
    }
}