.footer__copyright {
    grid-column: 7;
    height: 16px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    /* border: 0.5px solid red; */
}

@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 96px);
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 32px);
        height: 42px;
        margin-bottom: 48px;
    }
}