.header__lang-link-En {
    text-decoration: none;
    grid-column: 4;
    margin: 18px 0 6px;
    max-width: 29px;
    max-height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .header__lang-link-En {
        max-width: 22px;
        max-height: 20px;
        margin: 14px 0 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 111%;
        text-align: right;
    }
}