.intro__text{
    width: 690px;
    height: 208px;
    margin: 0 0 33px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 768px){
    .intro__text{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .intro__text{
        width: 100%;
        height: 520px;
        font-size: 16px;
        line-height: 163%;
    }
}