.intro__text {
    max-width: 690px;
    min-height: 108px;
    margin: 0 0 33px 0;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .intro__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 538px) {
    .intro__text {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        min-height: 420px;
        font-size: 16px;
    }
}