.intro {
    margin-top: 92px;
    margin-left: 148px;
    width: 690px;
    height: 429px;
    border: 1px solid red;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 48px);
        margin: 110px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 32px);
        height: 754px;
        margin-top: 86px;
    }
}