.links__link {
    max-width: 106px;
    height: 18px;
    margin-right: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.links__link:last-child{
    margin-right: 0;
}

@media screen and (max-width: 320px) {
    .links__link {
        height: 24px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}