.website__url-heading {
    max-width: 456px;
    max-height: 12px;
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 1024px) {
    .website__url-heading {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .website__url-heading {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .website__url-heading {
        max-width: 288px;
    }
}