.place__link {
    max-width: 456px;
    min-height: 16px;
    margin-top: 12px;
    list-style-type: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .place__link {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        max-width: 288px;
    }
}