.paragraths{
    max-width: 484px;
}

@media screen and (max-width: 1024px) {
    .paragraths {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .paragraths {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .paragraths {
        max-width: 288px;
        margin: 0 16px 0 16px;
    }
}