.cover__title {
    max-width: 560px;
    padding: 0;
    margin: 0 auto 32px;
    text-decoration: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    color: #FFFFFF;
    /* border: 1px solid rgb(216, 14, 14); */
}

@media screen and (max-width: 602px) {
    .cover__title {
        font-size: 32px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        margin: 33px auto 16px;
        line-height: 109%;
    }
}