.website__link {
    max-width: 456px;
    max-height: 22px;
    margin-top: 12px;
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.website__link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .website__link {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .website__link {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .website__link {
        max-width: 288px;
    }
}