.place__url-heading {
    max-width: 456px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 950px) {
    .place__url-heading {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        max-width: 288px;
    }
}